{% extends 'base.html' %}

{% block content %}

<h2>Getting Organized with lists!</h2>



<h2>Let's get Started!</h2>

<p>
    <a href="/add_todo"> Click here to create your own lists!</a>
</p>
<p>
    <a href="/create_course"> Click here to add a course!</a>
</p>

<ul>
    {% for user in all_users %}
        <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for todo in all_todo %}
        <li>{{ todo.description }}</a></li>
    {% endfor %}
</ul>


{% endblock %}