{% extends 'base.html' %}

{% block content %}

<p>
Welcome to {{ user.username }}'s Profile.
</p>



<p>
    <!-- {{ user.username }}'s todo's are:

    <ul>
        {% for course in user.todo_for_course %}
        <li><a href="/course/{{ course.id }}">{{ course.title }}</a></li>
        {% endfor %}
    </ul>

    <ul>
        {% for todos in user.todo %}
        <li><a href="/todo/{{ todo.id }}">{{ todo.description }}</a></li>
        {% endfor %}
    </ul> 

    <ul>
        {% for todo in all_todo %}
            <li>{{ todo.description }}</a></li>
        {% endfor %}
    </ul>
</p>

{% endblock %}